  <div class="header" >
  
  <table style="position: absolute" style="width:100%;"><centre>
                
                
            <tr>
                <td style="float: left; width: 50%">
                    
                   
                    <img class="westernlogo" src="/app/CSS/western Eng Logo.png" alt="Western">
                    </td>
                    <td style="float: centre; width: 25%">
                        
                        <h3 class="ece">ECE 9065B</h3>
                </td>
                <td style="float: right; width: 25%">
                    
                    
                   <a href="/auth/google"  ><img class="logger" src="/app/CSS/login-button.png" alt="login"/></a>
                   
                    
                </td>
            </tr>
            
       </centre>  </table>
       
       </div>
       
       <div class="main" style="height: 100%;">
           
           </div>